@import url(https://fonts.googleapis.com/css?family=Roboto);

@import "compass/css3";

body {
	font-family: 'roboto', sans-serif;
	color:white;
	background-color:#1a1a1a;
}

h4 {
	text-align: center;
}

h1 {
	text-align: center;
}

img {
	float:left;
	margin:16px;
}

ul {
	list-style: disc;
}

ol > li {
	font-weight: bold;
	font-size:20pt;
	color:#ffff00;
}


.list-container {
	max-width:1200px;
	margin: auto;
	padding:16px;
}
